.listitem {
  display: flex;
  height: 150px;
  width: 100%;
  border: 1px solid #d3d3d3;
}

.imgcontainer {
  height: 100%;
  width: 25%;
  text-align: center;
}

.infocontainer {
  height: 100%;
  width: 75%;
  display: flex;
  flex-flow: column nowrap;
  padding: 0.6rem;
  justify-content: space-between;
}

.listimg {
  height: 100%;
  max-width: 100%;
}

.title {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0 0 0.4rem 0;
}

.text {
  font-size: 0.8rem;
  white-space: pre-wrap;
}

.smallcontainer {
  display: flex;
  justify-content: space-between;
}

.divider {
  flex: 1;
}
