.container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  width: 70%;
}

.imageheader {
  width: 100%;
  height: 500px;
  background-image: url(../public/images/headerlandscape.jpg);
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}
.largecontainer {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.addproduct {
  height: 40px;
  width: 120px;
  margin: 1.1rem;
  outline: none;
  border: none;
  background-color: #23df77;
  color: #ffffff;
  border-radius: 4px;
  font-size: 1.1rem;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.75);
}
.addproduct:hover {
  cursor: pointer;
  opacity: 0.7;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.55);
}
.addproduct:active {
  opacity: 0.9;
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.55);
}

.imageheadersmallcontainer {
  height: 200px;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 4px;
  align-self: flex-start;
  background-color: #ffffff;
  padding: 0.5rem;
}

.text {
  font-size: 0.8rem;
  margin: 0.6rem;

  font-weight: 500;
}
